

@media(max-width: 575px) {
  .banner {
    background-image: none !important;
  }
}

.notification-content {

  h4{
    font-size: 15px;
  }
}

.stars-chofer {
  i {
    font-size: 13px;
  }
}
.avatar-large {
    width: 95px;
    border-radius: 50%;
}

.creating-line {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #000;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

.creating-line span {
    background:#fff;
    padding:0 10px;
}
