// Specific CSS for your home-page
.card-service {
  border: 5px solid black;
}

.card-product {
  background-color: rgba(255,255,255,0.2);
  // background-color: #fdfdfd;
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid black;
  padding: 10px;
  justify-content:space-between;
  i {
    transition: all 2s ease;
    display: none;
  }
  &:hover {
    color: rgba(0,0,0,0.9);
      // opacity: .9;
    // border-bottom: 1px solid rgba(0,0,0,0.6);
    i {
      display: block;
    }
  }
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards-new-trip{
  padding: 16px;
  a {
    text-decoration: none;
    color: black;
  }
}

legend {
  display: none;
}
