#profile-empty-avatar {
  font-size: 70px;
}

.profile-steps {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.link-style {
  color: white;
  text-decoration: none;
}

.profile-card {
  background-color:rgba(30,30,30,0.3);
  border-radius: 3px;
}

.sign-out-btn {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.avatar-profile {
  max-width: 300px;
  border-radius: 50%;
}

