<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/We-drive-it-101064268018119/?modal=admin_todo_tour"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/login?lang=es"><i class="fab fa-twitter"></i></a>
    <a href="https://accounts.google.com/servicelogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    <p class="text-white">Copyright 2019 - We Drive It</p>
  </div>
</div>
