<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">

<div class="card-service">
  <h1>SELECCIONA TU SERVICIO</h1>
</div>


  <div class="row">

<div class="card">
  <h1>Chofer por día/hora</h1>
</div>


<div class="card">
<h1>Chofer por tramo</h1>
</div>



  </div>
</div>
