<div class="banner" style="">
  <div class="container">
    <h1 align="center"><strong>You don’t wait for us, we wait for you. </strong></h1>
  </div>
</div>


<div class="container py-5 my-4">
  <div class="text-center mb-3" style="border: 2px solid black; box-shadow: 2px 2px 3px grey">
    <h2>SELECCIONA TU SERVICIO</h2>
  </div>

  <div class="row d-flex justify-content-between ">
    <div class="col-sm-12 col-lg-5 mt-3">
     <div class="cards-new-trip">
      <%= link_to new_ride_path do %>
      <div class="card-product">
        <%= image_tag("clock.png") %>
        <div class="card-product-infos">
          <h4>Chofer por hora </h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-sm-12 col-lg-5 mt-3">
    <div class="cards-new-trip">
      <%= link_to new_ride_path do %>
      <div class="card-product">
        <%= image_tag("destination.png") %>
        <div class="card-product-infos">
          <h4>Chofer por tramo </h4>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<div class="container-fluid justify-content-space-between badge-light py-2" id="Nosotros">
  <h1 class="text-center my-5"><strong>Our team</strong></h1>
  <div class="row">
    <div class="col-sm-12 col-lg-3 text-center">
      <img class="rounded-circle" src="https://avatars2.githubusercontent.com/u/54599926?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3 class="my-2">Gaspar Baldunciel</h3>
      <h3>CEO</h3>
      <a href="https://www.linkedin.com/in/gaspar-baldunciel-30b60a119" target='_blank'><i class="fab fa-2x fa-linkedin"></i></a>
      <p class="mb-5">Profesional Rugby Player and entrepeneur. Owner of Clifftone brand.He joined Le Wagon on August 2019. Founder of Le Chauffeur.</p>
    </div>
    <div class="col-sm-12 col-lg-3 text-center">
      <img class="rounded-circle" src="https://avatars0.githubusercontent.com/u/54510877?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3 class="my-2">Gastón Lascano</h3>
      <h3>CFO</h3>
      <a href="https://www.linkedin.com/in/gaston-lascano-77a932163" target='_blank'><i class="fab fa-2x fa-linkedin"></i></a>
      <p class="mb-5">Management profesional and Wakeboard Rider. He joined Le Wagon on August 2019. Co-founder of Le Chauffeur.</p>
    </div>
    <div class="col-sm-12 col-lg-3 text-center">
      <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/54502513?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3 class="my-2">Enzo Crivelli</h3>
      <h3>CMO</h3>
      <a href="https://www.linkedin.com/in/enzo-crivelli-5b3b6012a" target='_blank'><i class="fab fa-2x fa-linkedin"></i></a>
      <p class="mb-5">Marketing professional and Triathlete. He joined Le Wagon August 2019. Co-founder of Le Chauffeur</p>
    </div>
    <div class="col-sm-12 col-lg-3 text-center">
      <img class="rounded-circle" src="https://avatars1.githubusercontent.com/u/54517348?s=460&v=4" alt="Generic placeholder image" width="140" height="140">
      <h3 class="my-2">Agustín Greissing </h3>
      <h3>Street sweeper</h3>
      <a href="https://www.linkedin.com/in/agustingreissing" target='_blank'><i class="fab fa-2x fa-linkedin"></i></a>
      <p class="mb-5">Economist. Passionate about reading and cooking. He joined Le Wagon on August 2019. Co-founder of Le Chauffeur.</p>
    </div>
  </div>
</div>





