<form action="/procesar-pago" method="POST">
  <script
    src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
    data-public-key="TEST-8ef3cdc6-d286-425f-90c1-1298b84e6df5"
    data-transaction-amount="100.00"
    data-customer-id="<%= current_user.mp_customer_id %>"
    data-card-ids="<%= current_user.mp_card_id %>">
  </script>
</form>

