.log-in-form {
  color: white;
  background-color: rgba(80,80,80,0.8);
}

.btn-sign-up {
  color: white;
}

.btn-sign-in {
  color: white;
}

.btn-f-password {
  color: white;
}

.form-actions {
  color: white;
}
