<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-md-5 mt-4">
      <div class="text-center shadow-sm p-3 mb-4 rounded" style="background: rgba(200,200,200,0.5)">
        <h4 class="font-weight-light mt-1"><strong>VIAJE EN CURSO</strong></h4>
      </div>
      <div class="my-2 shadow-sm p-3 mb-3 rounded" style="background: rgba(200,200,200,0.4)">
        <div class="container text-center my-2">
          <div class="">
            <%= image_tag("feli.jpg", height: '140', width: '140', class:"mx-auto rounded-circle") %>
          </div>
          <div class="mt-4">
            <h2>Felipe Hernandez</h2>
            <h6>Chofer profesional</h6>
            <h6>Buenos Aires, Argentina.</h6>
          </div>
        </div>
      </div>

      <div class="text-center shadow-sm p-3 mb-5 rounded" style="background: rgba(200,200,200,0.4)">
        <% if @ride.status == "VIAJE TERMINADO"%>
        <h5>Viaje finalizado!</h5>
        <% else %>
        <% next_status = @ride.status_before_type_cast + 1 %>
        <%= link_to "#{Ride::statuses.index(next_status)}", ride_path(@ride, status: Ride::statuses.index(next_status)) , method: :patch, class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
