<div class="container-rider">
 <div class="row">
   <div class="col-md-8 order-md-last mr-0 ml-0">
     <div id="map" class=bg-primary><img src="" alt=""></div>
     <div class="estimated-cost p-3">Costo estimado</div>
   </div>
   <div class="col-md-4 order-md-first">
        form para poder elegir un viaje
   </div>
 </div>
</div>

