<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h2 class="text-center mt-5"><strong>Viajes en curso</strong></h2>
      <div class="driver-avatar text-center mb-5 mt-5">
        <img src='https://randomuser.me/api/portraits/men/17.jpg', alt="">
      </div>

      <div class="card mb-5">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>

    </div>
  </div>
</div>
</div>
