<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8.col-md-6">
      <div class="bg-danger h-100 w-100">
        <div style="height: 300px; width: 300px;"></div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-12">
      <div class="bg-primary h-100 w-100">
        <div style="" class="p-3 d-flex flex-md-column">
          <div class="flex-grow-0 bg-danger ml-3 mr-1 rounded-pill d-flex flex-column justify-content-between flex-md-row mx-sm-0 journey-path">
            <div class="rounded-circle bg-danger" style="height: 20px; width: 20px;"></div>
            <div class="rounded-circle bg-danger" style="height: 20px; width: 20px;"></div>
            <div class="rounded-circle bg-danger" style="height: 20px; width: 20px;"></div>
            <div class="rounded-circle bg-danger" style="height: 20px; width: 20px;"></div>
          </div>
          <div class="flex-grow-0 mx-3 my-2 rounded-pill d-flex flex-column justify-content-between flex-md-row mx-sm-0 w-md-100 mt-md-4">
            <i class="fab fa-heart"></i>
            <i class="fab fa-heart"></i>
            <i class="fab fa-heart"></i>
            <i class="fab fa-heart"></i>
          </div>
          <div class="flex-grow-1 d-md-flex justify-content-between">
            <div class="bg-success mb-3 mx-3 w-md-100 m-md-0" style="height: 100px;">
              <p>Hola</p>
            </div>
            <div class="bg-success my-3 mx-3 w-md-100 m-md-0" style="height: 100px;">
              <p>Hola</p>
            </div>
            <div class="bg-success my-3 mx-3 w-md-100 m-md-0" style="height: 100px;">
              <p>Hola</p>
            </div>
            <div class="bg-success mt-3 mx-3 w-md-100 m-md-0" style="height: 100px;">
              <p>Hola</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
